<form
    [formGroup]="registerForm"
    (ngSubmit)="submitRegistration()"
>
    <!-- Alert message -->
    <app-alert
        *ngIf="isAlertVisible"
        [bg-color]="alertColor"
    >
        {{ alertMessage }}
    </app-alert>

    <!-- Name -->
    <app-input
        name="name"
        [control]="registerForm.controls.name"
        [required]="true"
    />

    <!-- Email -->
    <app-input
        name="email"
        type="email"
        [control]="registerForm.controls.email"
        [required]="true"
    />

    <!-- Age -->
    <app-input
        name="age"
        type="number"
        [control]="registerForm.controls.age"
    />

    <!-- Password -->
    <app-input
        name="password"
        type="password"
        [control]="registerForm.controls.password"
        [required]="true"
    />

    <!-- Confirm Password -->
    <app-input
        name="confirmPassword"
        type="password"
        label="Confirm password"
        [control]="registerForm.controls.confirmPassword"
        [required]="true"
        placeholder="Confirm password"
    />

    <!-- Phone Number -->
    <app-input
        name="phone"
        [control]="registerForm.controls['phone']"
        [mask]="{
            format: '(000) 000-00-00',
            prefix: '+7 '
        }"
    />

    <app-button
        type="submit"
        text="submit"
        [disabled]="registerForm.invalid || inSubmit"
        class="block w-full mt-11"
    />
</form>
